
		  .card-deck
		  {
			  border-radius: 1%;
			  margin-top: 50px;
			  margin-bottom: 50px;

		  }
		 
		  #header,#feature, #footer, #screenshot
		  {
			  background-color: orange;
			  margin-top: 50px;
			  margin-bottom: 50px;

			  padding-top: 100px;
			  padding-bottom: 100px;

			 
		  }
		  
		  .body
		  {
			  position: relative;
		  }
		  
	  
		
		  .jumbotron
		  {
			  margin: 50px;
			  text-align: center;
			  
		  }
	  